<a href="https://colab.research.google.com/github/mishad01/Data-Science-Machine-Learning/blob/main/8.%20chichago_payroll_data_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
pay = pd.read_csv('/content/sample_data/City_of_Chicago_Payroll_Data.csv')

In [4]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN
...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,"$87,006.00",NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,"$93,354.00",NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,"$115,932.00",NaN

In [5]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

# 1. How many null we have in each column in our data?

In [7]:
pay.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

# 2.  Output the statistics for your dataset.
**Shows 5 number summary**

In [11]:
pay.describe() #IT shows only numeric column

       Typical Hours
count    7883.000000
mean       34.698719
std         9.145553
min        10.000000
25%        20.000000
50%        40.000000
75%        40.000000
max        40.000000

In [12]:
pay.describe(include='all')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
count,32658,32658,32658,32658,32658,7883.000000,24775,7883
unique,32350,1095,36,2,2,NaN,1038,167
top,"HERNANDEZ, JUAN C",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",$35.60
freq,5,9393,12973,30676,24775,NaN,2368,1404
mean,NaN,NaN,NaN,NaN,NaN,34.698719,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,9.145553,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN

# 3. What are the maximum, minimum and average Typical Hours? (use 'Typical Hours' column)**<br>

In [13]:
print("Max Typical Hours are : ",pay['Typical Hours'].max())
print("Min Typical Hours are : ",pay['Typical Hours'].min())
print("Mean/Avg Typical Hours are : ",pay['Typical Hours'].mean())

Max Typical Hours are :  40.0
Min Typical Hours are :  10.0
Mean/Avg Typical Hours are :  34.69871876189268

# 4. How many employees are on salary and how many are working on hourly basis?**<br>
*Hint: Group the data on 'Salary or Hourly' column. Instead of whole dataset, you can take the single column as input as well.*

In [14]:
pay['Salary or Hourly'].count()

32658

In [15]:
pay.groupby('Salary or Hourly').count()

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,7883,7883,7883,7883,7883,0,7883
Salary,24775,24775,24775,24775,0,24775,0

#Code Breakdown:<br>
- pay.groupby('Salary or Hourly'): Groups the DataFrame pay by the values in the column 'Salary or Hourly'.<br>
- [['Salary or Hourly']]: Selects the 'Salary or Hourly' column after grouping.<br>
-count(): Counts the number of occurrences in each group.

In [16]:
pay.groupby('Salary or Hourly')[['Salary or Hourly']].count()

                  Salary or Hourly
Salary or Hourly
Hourly                        7883
Salary                       24775

In [26]:
pay['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    24775
Hourly     7883
Name: count, dtype: int64

In [17]:
pay.groupby('Salary or Hourly')[[]]

In [8]:
pay.groupby('Salary or Hourly').count()[['Name']]

                   Name
Salary or Hourly
Hourly             7883
Salary            24775

# 8. Which department has maximum no of employees?

In [18]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,"$107,790.00",NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,"$104,628.00",NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,"$114,324.00",NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,"$76,932.00",NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,"$111,474.00",NaN
...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,"$90,024.00",NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,"$48,078.00",NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,"$87,006.00",NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,"$93,354.00",NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,"$115,932.00",NaN

In [ ]:
pay['Department'].value_counts() #shows count for all the department

In [20]:
pay['Department'].value_counts().head(1) #For the maximum value we use head(1)

Department
POLICE    12973
Name: count, dtype: int64

In [21]:
pay.groupby('Department')[['Department']].count().idxmax() #Return whats the maximum values column name

Department    POLICE
dtype: object

In [16]:
pay.groupby('Department')[['Name']].count().sort_values(by='Name',ascending=False).head(1)

             Name
Department
POLICE      12973

# 9. How many employees are on Salary and how many are on Hourly in the Police department?**[link text](https://)

In [22]:
df = pay[pay['Department']=='POLICE']
df['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64

In [43]:
pay[pay['Department'] == 'POLICE'].groupby('Salary or Hourly')[['Salary or Hourly']].count()

                  Salary or Hourly
Salary or Hourly
Hourly                          32
Salary                       12941

#10. What are the mean, max and min salaries?**<br>
use <code>.str and replace()</code><br>
Create a new column name "Salaries" and separate the number from dollar sign as float .<br>
Hint: [pandas.series.str](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.split.html) and [Stackoverflow link](https://stackoverflow.com/questions/38516481/trying-to-remove-commas-and-dollars-signs-with-pandas-in-python)

In [6]:
pay['Salary'] = pay['Annual Salary'].str.replace('$','').str.replace(',','') #remove unwanted items from data

In [8]:
pay['Salary'] = pay['Annual Salary'].str.replace('$', '')
pay['Salary'] = pay['Salary'].str.replace(',', '').astype(float)

In [9]:
print('min Salary :$', pay['Salary'].min())
print('min Salary :$', pay['Salary'].max())
print('min Salary :$', pay['Salary'].mean())

min Salary :$ 0.96
min Salary :$ 300000.0
min Salary :$ 87512.78024137235

#11. Find the employee who has the maximum salary.**<br>
Don't use the max number you got above, write a code for general condition. <br>
Try with [<code>idxmax()</code>](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) as well![link text](https://)

In [10]:
pay[pay['Salary']==pay['Salary'].max()]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
8310,"EVANS, GINGER S",COMMISSIONER OF AVIATION,AVIATION,F,Salary,NaN,"$300,000.00",NaN,300000.0

In [29]:
pay[pay['Salary']==pay['Salary'].max()][['Name','Salary']]

                  Name    Salary
8310  EVANS,  GINGER S  300000.0

In [30]:
pay['Salary'].idxmax()

8310

#12. Find the employee who has the minimum salary.**<br>
Use [<code>idxmin()</code>](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmin.html) as well!

In [31]:
pay[pay['Salary']==pay['Salary'].min()]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
15387,"KOCH, STEVEN",ADMINISTRATIVE SECRETARY,MAYOR'S OFFICE,F,Salary,NaN,$0.96,NaN,0.96

In [58]:
pay[pay['Salary']==pay['Salary'].min()][['Name','Salary']]

                 Name  Salary
15387  KOCH,  STEVEN     0.96

In [32]:
pay['Salary'].idxmin()

15387

**(iloc) is an indexer in pandas, a Python library for data manipulation and analysis. It is used to access rows and columns in a pandas DataFrame or Series by their integer-based positions, rather than labels.**

#Key Features of iloc
- Integer-based indexing: It uses the numerical position of rows and columns.
- Supports slicing and indexing: Single row or column: data.iloc[row_index] or data.iloc[:, column_index]
- Multiple rows or columns: data.iloc[start:stop] or data.iloc[:, start:stop]

In [9]:
pay.iloc[15387]

Name                           KOCH,  STEVEN
Job Titles           ADMINISTRATIVE SECRETARY
Department                     MAYOR'S OFFICE
Full or Part-Time                           F
Salary or Hourly                       Salary
Typical Hours                             NaN
Annual Salary                          $0.96
Hourly Rate                               NaN
Name: 15387, dtype: object

In [33]:
pay.iloc[pay['Salary'].idxmin()]['Name']

'KOCH,  STEVEN '

**13. What are the mean, max and min Hourly Rate?**<br>
use <code>.str and replace()</code><br>
Hint:
Once again, create a new column name "H_Rate" and separate the number from dollar sign as float .<br>

In [11]:
pay['H_Rate']=pay['Hourly Rate'].str.replace('$', '').astype(float)

In [39]:
print('min H_Rate :', pay['H_Rate'].min())
print('max H_Rate :', pay['H_Rate'].max())
print('mean H_Rate :', pay['H_Rate'].mean())

min H_Rate : 2.65
max H_Rate : 96.0
mean H_Rate : 32.86819231257135

**14. How many employees are getting max Hourly Rate?**

In [40]:
pay[pay['H_Rate']==pay['H_Rate'].max()].count()['Name']

1

**15. Who is getting max Hourly Rate?**

In [8]:
pay[pay['H_Rate']==pay['H_Rate'].max()]['Name']

14317    JONES,  JOHN W
Name: Name, dtype: object

#16. How many employees are earning less than the average Hourly Rate?**

In [12]:
avg = pay ['H_Rate'].mean();
cnt = pay[pay['H_Rate']<avg].count().head(1);
cnt

Name    2791
dtype: int64

#17. How many employees are paid hourly and they have full-time job?**

In [ ]:
hr = pay[pay ['Salary or Hourly']=='Hourly']
fulltimejob = pay ['Full or Part-Time']=='F'
res = [hr & fulltimejob].count()
res

In [13]:
pay[(pay['Salary or Hourly']=='Hourly') & (pay['Full or Part-Time']=='F')].count().head(1)

Name    5906
dtype: int64

In [ ]:
pay[(pay['Hourly Rate'].notnull())]

In [23]:
pay[(pay['Hourly Rate'].notnull())].count()

Name                 7883
Job Titles           7883
Department           7883
Full or Part-Time    7883
Salary or Hourly     7883
Typical Hours        7883
Annual Salary           0
Hourly Rate          7883
Salary                  0
H_Rate               7883
dtype: int64

#18. Find the full-time employees who are working at hourly rate of $10.00?**

In [29]:
pay[(pay['H_Rate']==10) & (pay['Full or Part-Time']=='F')]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
1232,"AYALA JR, JESUS",STUDENT INTERN,HUMAN RESOURCES,F,Hourly,35.0,NaN,$10.00,NaN,10.0
4522,"CERVANTES, BIANCA A",STUDENT INTERN,BUDGET & MGMT,F,Hourly,35.0,NaN,$10.00,NaN,10.0
6476,"DAVILA, ROBERTO A",ALDERMANIC AIDE,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0
16474,"LEVY, ETHAN",CLERK CITY COUNCIL,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0

#**19. How many unique Job Titles are there in the data?**

In [31]:
pay['Job Titles'].nunique()

1095

#**20. What was the average Salary of the employees in each department?**

In [ ]:
pay.groupby('Department')[['Salary']].mean()

#**21. What is the job title of 'AGAR,  BULENT B'?** please note, there are two spaces between AGAR, and BULENT.

In [35]:
pay[pay['Name']=='AGAR,  BULENT B']['Job Titles']

230    CHIEF ENGINEER OF SEWERS
Name: Job Titles, dtype: object

#**22. What are the top most common job titles?**

In [36]:
pay['Job Titles'].value_counts().head(1)

Job Titles
POLICE OFFICER    9393
Name: count, dtype: int64

#**23. How many people have the word 'officer' in their job title? (This is pretty tricky)**

In [39]:
def find_string(title):
    if 'officer' in title.lower(): #Field_Officer(manager)
        return True
    else:
        return False

In [41]:
pay['Job Titles'].apply(find_string)

0        False
1        False
2        False
3        False
4        False
         ...
32653     True
32654     True
32655     True
32656     True
32657    False
Name: Job Titles, Length: 32658, dtype: bool

In [40]:
pay['Job Titles'].apply(find_string).sum()

11101

#**24. Save the final dataframe to a csv file**

In [42]:
pay.to_csv('E:\\store.csv')